*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header{
    width: 100%; 
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(./Badshahi_Mosque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.logo{
    width: 25%;
    text-align: center;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

a{
    width: 25%;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
section{

}
h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #000;
}
secton h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px #000;

}
secton p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px #000;
}
secton a{
    padding: 12px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}
.button1{
    color: #000;
    background: #fff;
}
.button2{
    background: #00b894;
    color: #fff;
}
.change_content:after{
    content: " ";
    animation: changetext 15s infinite linear;
    color: #00b894;
}
@keyframes changetext{
    0% {content: "Karachi";}
    10% {content: "Lahore";}
    20% {content: "Islamabad";}
    30% {content: "Bahawalpur";}
    40% {content: "Peshawar";}
    50% {content: "Multan";}
    60% {content: "Hunza";}
    70% {content: "Sukkur";}
    80% {content: "Kashmir";}
    90% {content: "Murree";}
    100% {content: "Swat";}

}